<h1>API List</h1>
<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Type</th>
      <th>Params</th>
      <th>Desc</th>
    </tr>
  </thead>
  <tbody>
    {{#each api}}
      <tr>
        {{#each this}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>