{{#contentFor "head"}}
  <link rel="stylesheet" href="css/index.css">
{{/contentFor}}

<h2 class="content-title">API List</h2>
<table class="content-body">
  <thead>
    <tr>
      <th>Path</th>
      <th>Type</th>
      <th>Params</th>
      <th>Desc</th>
    </tr>
  </thead>
  <tbody>
    {{#each api}}
      <tr>
        {{#each this}}
          <td class="{{@key}}">{{this}}</td>
        {{/each}}
      </tr>
    {{else}}
      <tr>
        <td colspan="4">No content</td>
      </tr>
    {{/each}}
  </tbody>
</table>